<style>
    .text-uppercase {
        text-align: center;
        font-size: 250%;
    }
    #header {
        font-size: 25px;
        margin-left: 30px;;
    }
    body {
        background: turquoise;
    }
    #form {
    padding-left: 15%;
    font-size: 30px;
    }
    #result {
    text-align: center;
    font-size: 30px;
    }
    #headline
    {
        padding: 8px;
        width: 50%;
        font-size: 20px;
    }
    #submit {
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 40px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    }
</style>